@model List<Vtest94.Models.User>

@{
    int imgCounter = 0;  // Initialize the counter variable
}

<div class="custom-widget-inner">
    <h5 class="custom-widget-title">Top Users</h5>
    <div class="d-flex flex-column">
        @foreach (var user in Model)
        {
            <div class="d-flex custom-widget-item">
                <div class="custom-channel-picture">
                    <a asp-controller="User" asp-action="PublicProfile" asp-route-userId="@user.Id" title="@user.ArbitraryUsername">
                        <img class="channel-img" src="@Url.Content($"~/UserPhotos/{user.Id}/profile.jpg?v=" + DateTime.Now.Ticks)" alt="@user.UserName">
                    </a>
                </div>
                <div class="custom-channel-info">
                    <a asp-controller="User" asp-action="PublicProfile" asp-route-userId="@user.Id" class="channel-info-name text-truncate">@user.ArbitraryUsername</a>
                    <p class="channel-info-videos">Videos: @user.Videos.Count</p>
                    <p class="channel-info-views">28134 views</p>
                </div>
            </div>
            imgCounter++;
        }
    </div>
</div>
