@model IEnumerable<dynamic>

@{
    int imgCounter = 0;  // Initialize the counter variable
}

<div class="custom-widget-inner">
    <h5 class="custom-widget-title">Top Users</h5>
    <div class="d-flex flex-column">
        @foreach (var user in Model)
        {
            <div class="d-flex custom-widget-item">
                <div class="custom-channel-picture">
                    <a asp-controller="User" asp-action="PublicProfile" asp-route-userId="@user.User.Id" title="@user.User.ArbitraryUsername">
                        <img class="channel-img" src="@Url.Content($"~/UserPhotos/{user.User.Id}/profile.jpg?v=" + DateTime.Now.Ticks)" alt="@user.User.UserName">
                    </a>
                </div>
                <div class="custom-channel-info">
                    <a asp-controller="User" asp-action="PublicProfile" asp-route-userId="@user.User.Id" class="channel-info-name text-truncate">@user.User.ArbitraryUsername</a>
                    <p class="channel-info-videos">Videos: @user.VideoCount</p>
                    <p class="channel-info-views">@user.TotalViews views</p>
                </div>
            </div>
            imgCounter++;
        }
    </div>
</div>
